*{
    margin:0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}
body{
    max-width: 800px;
    min-width: 300px;
}
#con{
    background-color: #300397;
    border: 4px solid black;
    width: 50%;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    max-width: 100%;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    border: 4px solid black;
    padding : 10px ;
    margin-top: 10px;
    margin-bottom: 10px;

}
img{
    border: 4px solid black;
    max-width: 100%;
    margin-top: 15px;
}
/* h2{
    color: rgb(255, 166, 0);
    font-size: 20px;
    margin: 15px;
} */
#first-id{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
}
.hr-class{
    border-width: 4px;
    border-color:black ;
    border-style: solid;
}
ul{
    list-style:none;
    font-size: 20px;
    color: #88FC1C;
    font-weight: normal;
    margin: 15px 0;
}
strong{
    color: black;
}
p{
    color: #88FC1C;
}
#outro{
    font-size: 18px;
    margin: 15px 0;
}
span{
    font-weight:bold;
    color: red;
}
a{
    color: #f0f0f0;
}